---
layout: page
title: Contact
menu-top: true
menu-top-pos: 4
permalink: /contact/
---

{% include breadcrumb.html item1_url=page.url item1_title=page.title item1_last=true %}
        
<h1>Contact</h1>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <p>To reach the North Houston DNUG, please email <a href="mailto:{{ site.data.organization.email }}">info@nhdnug.org</a>.</p>

        <p>The North Houston .NET Users Group meets the third Thursday of every month at 6:30 PM 
            on the campus of Lone Star College Montgomery in The Woodlands, Texas. There is free 
            pizza and drinks before every meeting and a raffle for valuable prizes at the end. 
            Prizes often include books from major .NET publishers, software and license keys for 
            .NET developer tools, and Microsoft hardware and swag.</p>

        <p>NHDNUG was founded in January 2008 by Todd Anglin.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <p>North Houston .Net Users Group is run by a team of volunteers:</p>
        <ul class="volunteer-list">
            {% for person in site.data.volunteers %}
            <li>
                 <div typeof="Person">
                    {% if person.title %}
                    <div class="jobtitle" property="jobtitle">{{ person.title }}</div>
                    {% endif %}    
                    <div property="name">{{ person.name }}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
