---
layout: page
title: Contact
menu-top: true
menu-top-pos: 5
permalink: /contact/
---

{% include breadcrumb.html item1_url=page.url item1_title=page.title item1_last=true %}
        
<h1>Contact</h1>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <p>To reach the North Houston .NET Users Group (NHDNUG), please use the contact methods on <a href="https://www.meetup.com/nhdnug/">our Meetup</a></p>

        <p>NHDNUG meets the third Thursday of every month at 5:30 PM 
            at the offices of SmartDraw in The Woodlands, Texas. There is free 
            pizza and drinks before every meeting.</p>

        <p>The group was founded in January 2008 by Todd Anglin.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <p>North Houston .NET Users Group is run by a team of volunteers:</p>
        <ul class="volunteer-list">
            {% assign volunteers = site.empty_array %}
            {% for person in site.persons %}                
                {% if person.volunteer-position %}
                    {% assign volunteers = volunteers | push: person %}
                {% endif %}
            {% endfor %}
            {% assign volunteers = volunteers|sort:"volunteer-order" %}

            {% for person in volunteers %}
            <li>
                <div typeof="Person">                    
                    <div class="jobtitle" property="jobtitle">{{ person.volunteer-position }}</div>                    
                    <div property="name">{% include person-name.html person=person %}</div>
                </div>                
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
