---
layout: default
---
<div class="row">
    <div class="col-sm-9">
    {% include jumbotron.html %}
        
    <h3>Welcome to NHDNUG!</h3>
    <p>The North Houston .NET Users Group meets the third Thursday of every month at 6:30 PM. 
        There is free pizza and drinks before every meeting and a raffle for valuable prizes at the end.
    </p>
        {% assign post = site.posts | first %}
    
        
        <div class="panel panel-info" id="nextMeetingPanel">
            <div class="panel-heading">
                <h3 class="panel-title">Next Meeting - {{ post.date | date: "%A, %B %-d, %Y"}}</h3>
            </div>
            <div class="panel-body">
                <h4><a href="{{ post.url | prepend: site.baseurl}}">{{ post.title }}</a></h4>
                {% if post.subtitle %}
                <h5 class="subtitle">{{ post.subtitle }}</h5>
                {% endif %}
                <div>
                    Speaker: <span class="speaker-name">
                        {% include speaker-name.html speaker-title=post.speaker %}
                    </span>
                </div>
                {% if post.description %}
                    <p>{{ post.description }}</p>
                {% endif %}
                
                <p>Location: {{ post.location }}
                    {% if post.location_map_url %}
                        (<a href="{{ post.location_map_url }}">MAP</a>)
                    {% endif %}
                </p>
                
                {% if post.location_map_embedurl %}
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="{{ post.location_map_embedurl }}"></iframe>
                    </div>
                {% endif %}
            </div>
        </div>    
      
    </div>
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Meeting Sponsors</h3>
            </div>
            <div class="panel-body">
                {% include sponsor-list.html ul-class="sponsor-list" where-key="display_home_page" where-value="true" sort-key="display_home_page_order" %}
            </div>
        </div>
    </div>
</div>