---
layout: default
js: ['/js/jquery.flexslider-min.js']
css: ['/css/flexslider.css']
home-page: true
---
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9">
        {% assign meetings = site.posts | where: "is_meeting", "true" | sort: "date" %}
        {% assign post = '' %}
        {% for meeting in meetings %}
        {% if meeting.date > site.time %}
            {% assign post = meeting %}
            {% break %}
        {% endif %}
        {% endfor %}
        {% if post == '' %}
        {% assign post = meetings | last %}        
        {% endif %}
        {% assign post_num_speakers = post.speakers | size %}
        
        <div id="nextMeeting">
                <h1 style="text-align: center;">{{ post.date | date: "%B" }} Meeting</h1>
                <h3><a href="{{ post.url | prepend: site.baseurl}}">{{ post.title }}</a></h3>
                {% if post.subtitle %}
                <h5 class="subtitle">{{ post.subtitle }}</h5>
                {% endif %}
                <p>
                    <span style="white-space: nowrap;"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    {% include datetime.html date=post.date day=true time=true %}
                    </span>  
                    {% if post_num_speakers > 0 %} | <span style="white-space: nowrap;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {% include person-names.html person-titles=post.speakers %}</span>{% endif %}
                    {% if post.location and post.location != "" %} |<span style="white-space: nowrap;"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {% include location-display.html location=post.location mode="title" location-detail=post.location-detail %}</span>{% endif %}
                </p>
                {% if post.description %}
                    <p>{{ post.description }}</p>
                {% endif %}
                <p>
                {% include location-display.html location=post.location  location-detail=post.location-detail mode="map_embed" %}
                </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            {% include jobs-display.html %}
        </div>
        <div class="col-xs-12 col-sm-6">
            {% include events-display.html %}        
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">        
        {% include sponsor-list2.html meeting=post ul-class="sponsor-list" show-surround=true %}
    </div>    
</div>
<div class="row">
    <div class="col-xs-12" style="text-align: center; font-size: 80%">
        <a href="https://www.flickr.com/photos/gruenewiese/11731796235/in/photolist-iSGwhT-pf9D6m-qZPxyv-iyCdHR-oVGYW6-oRS8HB-cHXjib-r8iPNY-dQuWK5-a1CMfn-gqT7QR-o1imyK-s48RZJ-fJfXRE-pfdf57-jJgvfJ-pFZ1UC-f4Cyqr-fd84Fs-8Qj6qE-8vkrx6-nXe4X6-5y3eLg-p9Hcno-nvqm9i-eqg8jS-eAU7jE-aghdSS-rBxaaC-ebsyGK-rhREEc-9VueaW-5LSkWo-qgcb7n-oauhZZ-iRcAB6-nS5Dss-qDVYr5-qV5hEJ-jJdCQt-7sTsXn-9fJW1G-huSgMS-pTaTBy-5ywKW3-a6uuot-o9M4tQ-rrx4ix-krRLnG-9kRihg">Starry Sky background image</a>, 
        <a href="https://creativecommons.org/licenses/by-nd/2.0/">(CC BY-ND 2.0)</a>            
    </div>
</div>