---
layout: default
title: Upcoming Events
permalink: /upcoming/
---

<div class="main-post-list">

  <ol class="post-list">
        <div class="event-wrapper">
            <div class="row">
                <div class="cell">
                    <strong> Date </strong>
                </div>
                <div class="cell">
                    <strong> Topic </strong>
                </div>
                <div class="cell">
                    <strong> Speaker </strong>
                </div>
                <div class="cell">
                    <strong> Location </strong>
                </div>
            </div> 
    {% assign curDate = site.time | date: '%s' %}
    {% for post in site.posts %}
    {% assign postStartDate = post.date | date: '%s' %}
    {% if postStartDate >= curDate %}
            <div class="row">
                <div class="cell">
                    {{ post.date | date: "%-m/%-d/%Y"  }}
                </div>
                <div class="cell">
                    <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}"
                    title="{{ post.title }}">{{ post.title }}</a>
                </div>
                <div class="cell">
                    {{ post.speaker }}
                </div>
                <div class="cell">
                    {{ post.location }}
                </div>
            </div>
    {% endif %}
    {% endfor %}
        </div>
        

  </ol>

  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
    <!--{% for post in paginator.posts %}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}"
        title="{{ post.title }}">{{ post.title }}</a></h2>
        <p class="excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&hellip;</p>
        <div class="post-list__meta">
            <time datetime="{{ post.date | date: "%-d %b %Y" }}" class="post-list__meta--date date">
                {{ post.date | date: "%-d %b %Y" }}
            </time> &#8226;
            <span class="post-meta__tags">on
                {% for tag in post.tags %}
                    <a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </span>
        </div>
        <hr class="post-list__divider">
      </li>
    {% endfor %}-->


