---
layout: page
title: Meetings
menu-top: true
menu-top-pos: 1
permalink: /meetings/
---
{% include breadcrumb.html item1_url=page.url item1_title=page.title item1_last=true %}

<h2>Meetings</h2>
{% for post in paginator.posts %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    {% if post.subtitle %}
        <h5 class="subtitle">{{ post.subtitle }}</h5>
    {% endif %}
    <div>{% include datetime.html date=post.date %} - 
        <span class="speaker-name">
            {% include speaker-names.html speaker-titles=post.speakers %}            
        </span>
    </div>               
{% endfor %} 

<!-- Pagination links -->
<div class="pagination">
{% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
{% else %}
    <span class="previous">Previous</span>
{% endif %}
<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
{% else %}
    <span class="next ">Next</span>
{% endif %}
</div>