---
layout: page
title: Meetings
menu-top: true
menu-top-pos: 1
permalink: /meetings/
---

{% include breadcrumb.html item1_url=page.url item1_title=page.title item1_last=true %}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9">
        <h1 class="no-margin-top">Meetings</h1>
        {% assign siteYear = site.time | date: '%Y' %}
        {% include 
            meetings-list.html 
            ul-class="meetings-main-events-list" 
            where-year=siteYear 
            sort-dir="desc" 
            show-subtitle=true 
            show-bio=true %}
    </div>       
    <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Meetings By Year
                </h3>
            </div>
            <div class="panel-body">
              <ul class="meetingyear-list">
              {% for meetingyear in site.meetingyears %}
                <li><a href="{{ meetingyear.url | prepend: site.baseurl }}">{{ meetingyear.title }}</a></li>
              {% endfor %}
              </ul>  
            </div>
        </div>
    </div>
</div>       