{% comment %}
    This include is a helper to consistently format dates.
    
    Parameters:
        date= the date value to be formatted
        time= include the time
        day= include the day
{% endcomment %}{% capture final %}
{% assign date = include.date %}
<span{% if include.rdfa_property %} property='{{ include.rdfa_property }}' content='{{ date | date: "%Y-%m-%dT%H:%M" }}'{% endif%}>
{% assign d = date | date: "%-d" %}
{% if include.day %}
{{ date | date: "%A " }}
{% endif %}
{{ date | date: "%B "}}
{% case d %}{% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>{% when '2' or '22' %}{{ d }}<sup>nd</sup>{% when '3' or '23' %}{{ d }}<sup>rd</sup>{% else %}{{ d }}<sup>th</sup>{% endcase %}, 
{{ date | date: "%Y" }}
{% if include.time %} @ {{ date | date: "%l:%M %p" }}{% endif %}
</span>{% endcapture %}{{ final | strip_newlines }}