<footer>
  <span>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</span>
</footer> 

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% if page.js %}{% for js in page.js %}
<script src="{{ js | prepend: site.baseurl }}"></script>
{% endfor %}{% endif %}
{% include google_analytics.html %}
<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>