{% assign event = include.event %}
{% assign location = site.locations | where:"title", event.location | first %}
{% if location %}{% else %}
    {% assign location = site.locations | where:"name", event.location | first %}
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ event.title }}",
  "startDate" : "{{ event.date | date: "%Y-%m-%dT%H:%M" }}",
  "url" : "{{ event.url | prepend: site.baseurl | prepend: site.url }}",
  "location" : {
    "@type" : "Place",
    "sameAs" : "{{ location.location_url }}",
    "name" : "{{ location.title }}",
    "address" : "{{ location.address }}"
  }
}
</script>