{% assign got-meeting = false %}
{% if page.is_meeting == true %}
    {% assign post = page %}
    {% assign got-meeting = true %}
    
    {% capture socialTitle %}{{ post.title }}{% if post.subtitle and post.subtitle != "" %}: {{ post.subtitle }}{% endif %}{% endcapture %}
    {% capture socialDescription %}Presented by {% include person-names.html person-titles=post.speakers name-only=true %}{% endcapture %}
    
    {% assign socialMediaSpeakerName = post.speakers | first %}
    {% assign socialMediaPerson = site.persons | where:"title", socialMediaSpeakerName | first %}
    {% assign socialImage = socialMediaPerson.image-sm %}
{% elsif page.home-page %}
    {% assign socialTitle = site.title %}
    {% assign socialDescription = site.description %}
{% else %}
    {% capture socialTitle %}{% if page.title_pretext %}{{ page.title_pretext }}{% endif %}{{ page.title }}{% if page.title_posttext %}{{ page.title_posttext }}{% endif %}{% endcapture %}
    {% assign socialDescription = page.description %}
{% endif %}
<meta name="description" content="{{ socialDescription }}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.data.organization.social.twitter }}" />
<meta name="twitter:title" content="{{ socialTitle }}" />
<meta name="twitter:description" content="{{ socialDescription }}" />
{% if socialImage %}<meta name="twitter:image" content="{{ socialImage | prepend: site.baseurl | prepend: site.url }}" />{% endif %}

<meta property="og:type" content="article" />
<meta property="og:title" content="{{ socialTitle }}" />
<meta property="og:description" content="{{ socialDescription }}" />
{% if socialImage %}<meta property="og:image" content="{{ socialImage | prepend: site.baseurl | prepend: site.url }}" />{% endif %}
