{% if include.speaker %}
    {% assign speaker = include.speaker %}
    <a href="{{ speaker.url | prepend: site.baseurl }}">
        <span typeof="Person">
            <span property="name">
            {{ speaker.title }}</span></span></a>{% else %}
    {% assign speakers = site.speakers | where:"title", include.speaker-title %}
    {% assign totFound = speakers | size %}
    {% if totFound == 0 %}
        <span typeof="Person">
            <span property="name">{{ include.speaker-title }}</span></span>{% else %}
        {% assign speaker = speakers | first %}
        <a href="{{ speaker.url | prepend: site.baseurl }}">
            <span typeof="Person">
                <span property="name">
                {{ speaker.title }}</span></span></a>{% endif %}{% endif %}