{% if include.speaker %}
    {% assign speaker = include.speaker %}
    <div class="speaker-display row">
        {% if speaker.image-sm %}
        <div class="col-sm-5 col-md-3">
            <img src="{{ speaker.image-sm }}" alt="{{ speaker.title }}" />
        </div>
        {% endif %}
        <div class="col-sm-7 col-md-9">
            <h4>
            <a href="{{ speaker.url | prepend: site.baseurl }}">
                <span typeof="Person">
                    <span property="name">
                    {{ speaker.title }}
                    </span>
                </span>
            </a>
            </h4>
            {% if speaker.excerpt %}
                {{ speaker.excerpt }}
            {% else if speaker.description %}
                {{ speaker.description }}
            {% endif %}        
        </div>
    </div>
    
{% else %}
    {% assign speakers = site.speakers | where:"title", include.speaker-title %}
    {% assign totFound = speakers | size %}
    {% if totFound == 0 %}
        
    {% else %}    
        {% assign speaker = speakers | first %}
        <div class="well"> 
        <div class="speaker-display row">        
        {% if speaker.image-sm %}
        <div class="col-sm-5 col-md-3">
            <div class="bio-image" style="background-image: url({{ speaker.image-sm }})"></div>                        
        </div>
        <div class="col-sm-7 col-md-9">
        {% else %}
        <div class="col-xs-12">
        {% endif %}        
            <h4>
            <a href="{{ speaker.url | prepend: site.baseurl }}">
                <span typeof="Person">
                    <span property="name">
                    {{ speaker.title }}
                    </span>
                </span>
            </a>
            </h4>        
            {% if speaker.excerpt %}
                {{ speaker.excerpt }}
            {% else if speaker.description %}
                {{ speaker.description }}
            {% endif %}
            {% if speaker.lastUpdated %}            
            <div class="last-updated">
                Last Updated: {% include datetime.html date=speaker.lastUpdated day=false time=false %}
            </div>        
            {% endif %}
        </div>
    </div>
    </div>
    {% endif %}
{% endif %}