<ul class="{{ include.ul-class }}">
    {% assign sponsors = site.sponsors %}
    {% if include.where-key %}
        {% assign sponsors = sponsors | where:include.where-key, include.where-value %}
    {% endif %}
    {% if include.sort-key %}
        {% assign sponsors = sponsors | sort:include.sort-key %}
    {% endif %}
    
    {% for sponsor in sponsors %}
        
            <li>
                {% include sponsor-display.html sponsor=sponsor %}
            </li>
        
    {% endfor %}
</ul>