@import 'nhdnug-mixins';


img { max-width: 100%; height: auto }

.navbar {
    border-radius: 0;
}

footer {
    background-color: rgb(51, 51, 51);
    color: #b3b3b3;
    padding: 1em 0 1em;
    margin-top: 1em;
    vertical-align: middle;
    line-height: 20px;
   
    
}
.social {
    white-space: nowrap;
    margin-right: 1em;
    vertical-align: middle;
    img {
        height: 20px;
        margin-right: 4px;
    }    
    a {
        color: #b3b3b3;
        
        &:hover {
            text-decoration: underline;
        }
    }
}
.speaker-layout {
    .last-updated {        
        font-style: italic;
        font-size: 80%;
    }
}
.speaker-display {
    .last-updated {
        text-align: right;
        font-style: italic;
        font-size: 80%;
    }
}

.sponsor-list {
    text-align: center;
}

.sponsor-list, .sponsor-events-list, .speaker-events-list, .events-events-list, 
.volunteer-list, .meetingyear-events-list, .meetings-main-events-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
        list-style-type: none;
        margin: 0 0 1.5em 0;
    }
}
.speaker-social-list {
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;
    li {
        list-style-type: none;
        display: inline;
        font-size: 20px;
        margin-right: 14px;
    }
}

.volunteer-list {
    .jobtitle {
        font-weight: bold;
    }
}
.meeting-title {
    font-size: 120%;
}
.meeting-subtitle {
    font-style: italic;
    color: #888;
}
#raffleSpinner {
    text-align: center;
    font-size: 25vmin;
}
footer {
    font-size: 70%;
}

.main-slider-bg {
    background: url('/images/jumbotron/star-sky.jpg');
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
    height: 600px;
    text-shadow: 2px 2px 2px rgba(88, 91, 93, 1);
    margin-bottom: 21px;
    
    a {
        color: #fff;
        text-decoration: none;
    }
    
    a.btn {
        border: 1px solid #fff;
        
        &:hover {
            color: #fff;
            background-color: rgba(0, 0, 0, .4);
        }
    }
    
    .flexslider {
        background: transparent;
        height: 600px;
        margin-top: -21px;
        border: 0;
        
        .slides {
            height: 600px;
        }
        .slides li {
            display: block;
            text-align: center;
            color: #fff;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            
        }
       
    }
    .flex-control-nav {
        bottom: 40px;
        li a {
            background-color: white;
        }
        .flex-active {
            background-color: red;
        }
    }
}
h1.no-margin-top {
    margin-top: 0;
}

.sponsors-page-sponsor-logo {
    text-align: center;
    padding: 1em;
    min-height: 180px;                
}
.meeting-page-sponsor-logo {
    text-align: center;
    img {
        margin: 0 0 1.5em 0;
    }
    
}

// Sponsor Panels

.panel-platinum {
     & > .panel-heading {
        @include backgroundGradient(#f2f6f8, #d8e1e7, #b5c6d0, #e0eff9);
        color: #333;
        border-color: #b5c6d0;
    }
    & > .panel-body {
        border: 1px solid #b5c6d0;
        border-top: none;
    }
}

.panel-gold {
     & > .panel-heading {
        @include backgroundGradient(#fceabb, #fccd4d, #fbdf93, #f8b500);
        color: #333;
        border-color: #fbdf93;
    }
    & > .panel-body {
        border: 1px solid #fbdf93;
        border-top: none;
    }
}

.panel-silver {
     & > .panel-heading {
        @include backgroundGradient(#e2e2e2, #dbdbdb, #d1d1d1, #fefefe);
        color: #333;
        border-color: #d1d1d1;
    }
    & > .panel-body {
        border: 1px solid #d1d1d1;
        border-top: none;
    }
}