---
layout: page
title: Sponsors
includeInQuickLaunch: true
permalink: /sponsors/
---


<div class="row">
    <div class="col-sm-8 col-md-9">
        {% include breadcrumb.html item1_url=page.url item1_title=page.title item1_last=true %}
        
        <h2>Sponsors</h2>
        <p>NHDNUG, a professional non-profit organization, has sponsorship opportunities available for our 
        monthly meetings. Membership is free so NHDNUG relies on sponsorship for support.</p>

        <p>Benefits of Sponsorship:</p>
        <ul>
            <li>Mention in our monthly mailings and invitations</li>
            <li>Introduce your organization in front of the monthly meeting and network with members.</li>
            <li>Logo/Link on our Sponsors Page</li>
            <li>Logo on monthly slideshow</li>
            <li>Description of your companies .NET products and/or Services</li>
        </ul>
        <p>If you are interested in sponsoring NHDNUG, please email <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>.</p>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Sponsors</h3>
            </div>
            <div class="panel-body">
                {% include sponsor-list.html ul-class="sponsor-list" where-key="display_sponsors_page" where-value="true" sort-key="display_sponsors_page_order" %}
            </div>
        </div>
    </div>
</div>