{% assign org = site.data.organization %}
{% assign text = org.legalName %}
{% if include.shortName == true%}{% assign text = org.alternateName %}{% endif %}
<span typeof="Organization">
    {% if include.shortName == true%}
        <span property="alternateName">{{ org.alternateName }}</span>
        <meta property="legalName" content="{{ org.legalName }}" />
    {% else %}
        <span property="legalName">{{ org.legalName }}</span>
        <meta property="alternateName" content="{{ org.alternateName }}" />
    {% endif %}
    <meta property="email" content="{{ org.email }}" />
    <meta property="areaServed" content="{{ org.areaServed }}" />
    <meta property="foundingDate" content="{{ org.foundingDate }}" />
    <meta property="sameAs" content="{{ org.sameAs}}" />
    <span property="founder" typeof="Person">
        <meta property="name" content="{{ org.founder }}" />
    </span>
</span>