---
layout: default
---
{% capture title-expanded %}{{ page.title }} - {% include datetime.html date=page.date day=true %}{% endcapture %}
{% include breadcrumb.html item1_url='/events' item1_title='events' item2_url=page.url item2_title=title-expanded item2_last=true %}

<div class="event-layout">
    <div class="row">
        <div class="col-xs-12">
            <div>            
                <h1 class="no-margin-top">{{ page.title }}</h1>
                {% if page.subtitle %}
                <p class="subtitle">{{ page.subtitle }}</p>
                {% endif %}            
                <dl class="dl-horizontal">
                    <dt>When</dt>
                    <dd>{% include datetime.html date=page.date day=true %}</dd>                   
                    {% if page.location.title %}
                    <dt>Where</dt>
                    <dd>{{ page.location.title }}
                        {% if page.location.city %}<br />{{ page.location.city }}{% endif %}
                    </dd>
                    {% endif %}
                    {% if page.links.www or page.links.registration %}
                    <dt>More Information</dt>
                    <dd>
                        <ul class="list-unstyled">
                        {% if page.links.www and page.links.www != "" %}
                            <li><a href="{{ page.links.www }}">{{ page.title }} (Official Site)</a></li>
                        {% endif %}
                        {% if page.links.registration and page.links.registration != "" %}
                            <li><a href="{{ page.links.registration }}">{{ page.title }} (Registration)</a></li>
                        {% endif %}
                        </ul>
                    </dd>
                    {% endif %}
                </dl>
                <hr />
                {{ content }}
            </div>
        </div>
    </div>
</div>