---
layout: default
---
{% include breadcrumb.html item1_url='/people' item1_title='people' item2_url=page.url item2_title=page.title item2_last=true %}
{% assign firstname = page.title | split:' ' | first %}
<div class="person-layout row">
    <div class="col-xs-12 col-sm-8 col-md-9">
        
                
        <h1>
            {% include person-name.html person=page %}            
        </h1>
        <div class="metadata">
            {% if person.volunteer-position %}
            <div class="volunteer-position">{{ person.volunteer-position }} of the {{ site.data.organization.legalName }}</div>
            {% endif %}
            {% if person.lastUpdated %}            
            <p class="last-updated">
                Last Updated: {% include datetime.html date=person.lastUpdated day=false time=false %}
            </p>        
            {% endif %}
        </div>
        
        <div class="hidden-sm hidden-md hidden-lg" style="text-align: center; margin-bottom: 1em;">
            <div class="person-image" style="background-image: url({{ page.image-sm }})"></div>            
        </div>
        {{ content }}
       
        {% if page.social %}
        <h4>Connect with {{ firstname }}:</h4>
        <ul class="person-social-list">            
            {% if page.social.facebook %}
            <li><a href="{{ page.social.facebook }}"><img src="/images/icons/facebook.png" alt="Facebook" title="Facebook" /></a></li>
            {% endif %}
            {% if page.social.twitter %}
            <li><a href="{{ page.social.twitter }}"><img src="/images/icons/twitter.png" style="background-color: #55acee" alt="Twitter" title="Twitter" /></a></li>
            {% endif %}
            {% if page.social.linkedin %}
            <li><a href="{{ page.social.linkedin }}"><img src="/images/icons/linkedin.png" alt="LinkedIn" title="LinkedIn" /></a></li>
            {% endif %}
            {% if page.social.github %}
            <li><a href="{{ page.social.github }}"><img src="/images/icons/github_logo.png" alt="GitHub" title="GitHub" /></a></li>
            {% endif %}
            {% if page.social.twitch %}
            <li><a href="{{ page.social.twitch }}"><img src="/images/icons/twitch.png" alt="Twitch" title="Twitch" /></a></li>
            {% endif %}
            {% if page.social.www %}
            <li><a href="{{ page.social.www }}"><img src="/images/icons/browser.png" alt="Website" title="Website" /></a></li>
            {% endif %}
            {% if page.social.email %}
            <li><a href="mailto:{{ page.social.email }}"><img src="/images/icons/email.png" alt="Email" title="Email" /></a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
        {% if page.image-sm %}
        <div class="hidden-xs" style="text-align: center; margin-bottom: 1em;">
            <div class="person-image" style="background-image: url({{ page.image-sm }})"></div>
        </div>
        {% endif %}
        {% assign meetings-presented = site.empty_array %}
        {% for meeting in site.posts %}
            {% if meeting.speakers contains page.title %}
                {% assign meetings-presented = meetings-presented | push: meeting %}
            {% endif %}
        {% endfor %}
        {% assign num-meetings-presented = meetings-presented | size %}
        {% if num-meetings-presented > 0%}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Meetings Presented</h3>
            </div>
            <div class="panel-body">
                {% include meetings-list.html ul-class="person-events-list" contains-key="speakers" contains-value=page.title %}
            </div> 
        </div>
        {% endif %}
    </div>
</div>


