---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}"
        class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226;
        <span class="post-meta__tags">on {% for tag in page.tags %}
            <a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a>
            {% endfor %}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    <div class="wrapper">
        <div class="row">
            <div class="cell">
                Date:
            </div>
            <div class="cell">
                {{ page.date | date: "%-m/%-d/%Y" }} from 6:30 pm to 8:30 pm
            </div>
        </div>
        <div class="row">
            <div class="cell">
                Location:
            </div>
            <div class="cell">
                {{page.location}}, room: {{page.room}}
            </div>
        </div>
        <div class="row">
            <div class="cell">
                Description:
            </div>
            <div class="cell">
                {{content}}
            </div>
        </div>
        <div class="row">
            <div class="cell">
                Bio:
            </div>
            <div class="cell">
                {{page.bio}}
            </div>
        </div>
        <div class="row">
            <div class="cell">
                Sponsor:
            </div>
            <div class="cell">
                {{page.sponsor}}
            </div>
        </div>
    </div>
    {% if page.location != "" %}  {% include map.html %} {% endif %}
    {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
  </section>
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
