---
layout: default
---

{% assign sponsorCount = page.sponsors | size %}
{% assign speakerCount = page.speakers | size %}
{% assign meetingYear = page.date | date: '%Y' %}
{% capture meetingYearUrl %}/meetings/{{ meetingYear }}{% endcapture %}

{% include breadcrumb.html item1_url='/meetings' item1_title='Meetings' item2_url=meetingYearUrl item2_title=meetingYear item3_url=page.url item3_title=page.title item3_last=true %}

{% include ld-json-event.html event=page %}


<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9">
        <div>            
            <h1 class="no-margin-top">{{ page.title }}</h1>
            {% if page.subtitle %}
            <p class="subtitle">{{ page.subtitle }}</p>
            {% endif %}            
            <dl class="dl-horizontal">
                <dt>When</dt>
                <dd>{% include datetime.html date=page.date day=true time=true %}</dd>
                {% if speakerCount > 0 %}
                <dt>Who</dt>
                <dd>{% include person-names.html person-titles=page.speakers %}</dd>
                {% endif %}
                {% if page.location != "" %}
                <dt>Where</dt>
                <dd>{% include location-display.html location=page.location mode="title" location-detail=page.location-detail %}</dd>
                {% endif %}
                {% if page.meetup and page.meetup != "" %}                
                <dt></dt>
                <dd>
                    <br />
                    <a href="http://www.meetup.com/nhdnug/events/{{ page.meetup }}/"
                       data-event="{{ page.meetup }}"
                       class="mu-rsvp-btn">RSVP</a> 
                    <span style="font-style: italic; color: darkgray;">(not required, but it helps us buy enough pizza!)</span>
                </dd>
                {% endif %}
            </dl>
            <hr />
            {{ content }}
        </div>
        {% for meetingspeaker in page.speakers %}        
            {% include person-display.html person-title=meetingspeaker %}        
        {% endfor %}
    </div>


    <div class="col-xs-12 col-sm-4 col-md-3">
        {% include sponsor-list2.html meeting=page ul-class="sponsor-list" show-surround=true %}
        {% if speakerCount == 1 %}
            {% assign speakerTitle = page.speakers | first %}
            {% assign meetingsArray = site.empty_array %}
            {% for post in site.posts %}
                {% if post.speakers contains page.speakers[0] %}
                    {% assign meetingsArray = meetingsArray | push: post %}
                {% endif %}
            {% endfor %}
        
            {% assign numMeetings = meetingsArray | size %}
            {% if numMeetings > 1 %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Other Meetings Presented By This Speaker</h3>
                </div>
                <div class="panel-body">
                    {% include meetings-list.html ul-class="events-events-list" contains-key="speakers" contains-value=speakerTitle
                    exclude-url=page.url %}
                </div>
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {% include disqus.html %}
    </div>
</div>
<script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.async = true;
        js.src = "https://a248.e.akamai.net/secure.meetupstatic.com/s/script/2012676015776998360572/api/mu.btns.js?id=uvssabcpr8a8595neuvmmu0v7l";
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, "script", "mu-bootjs");</script>
