---
layout: default
---
{% include breadcrumb.html item1_url='/speakers' item1_title='Speakers' item2_url=page.url item2_title=page.title item2_last=true %}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9">
        
                
        <h1>
            {% include speaker-name.html speaker=page %}            
        </h1>
        
        <div class="hidden-sm hidden-md hidden-lg" style="text-align: center; margin-bottom: 1em;">
            <img src="{{ page.image-sm }}" alt="{{ page.title }}" />
        </div>
        {{ content }}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
        {% if page.image-sm %}
        <div class="hidden-xs" style="text-align: center; margin-bottom: 1em;">
            <img src="{{ page.image-sm }}" alt="{{ page.title }}" />
        </div>
        {% endif %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Meetings Presented</h3>
            </div>
            <div class="panel-body">
                {% include meetings-list.html ul-class="speaker-events-list" where-key="speaker" where-value=page.title %}
            </div> 
        </div>
    </div>
</div>


