---
layout: default
---
<div class="row">
    <div class="col-sm-8 col-md-9">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{{ '/speakers' | prepend: site.base_url }}">Speakers</a></li>
            <li class="active">{{ page.title }}</li>
        </ol>
        
        <h2>{{ page.title }}</h2>
        
        {{ content }}
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Events By This Speaker</h3>
            </div>
            <div class="panel-body">
                {% include events-list.html ul-class="speaker-events-list" where-key="speaker" where-value=page.title %}
            </div> 
        </div>
    </div>
</div>


