---
layout: default
---

{% include breadcrumb.html item1_url='/sponsors' item1_title='Sponsors' item2_url=page.url item2_title=page.title item2_last=true %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9">
        <h1>{% if page.title_pretext %}{{ page.title_pretext }}{% endif %}{{ page.title }}</h1>

        {{ content }}

        {% if page.site_url %}
        <p>
            <a href="{{ page.site_url }}">More information about {{ page.title }}</a>.
        </p>
        {% endif %}
    </div>
    {% assign numEvents = site.posts | where:"sponsor", page.title | size %}
    {% for post in site.posts %}{% if post.sponsors contains page.title %}{% assign numEvents = numEvents | plus: 1 %}{% endif %}{% endfor%}
    {% if numEvents > 0 %}
    <div class="col-xs-12 col-sm-4 col-md-3">
         <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Meetings Sponsored</h3>
            </div>
            <div class="panel-body">
                {% include meetings-list.html ul-class="sponsor-events-list" where-key="sponsor" where-value=page.title contains-key="sponsors" contains-value=page.title show-speaker=true %}
            </div> 
        </div>
    </div>
    {% endif %}
</div>


